body {
    border-radius: 10px;
		font-family: Tahoma,Verdana,Segoe,sans-serif;
}
.container {
    padding: 1rem 1rem;
    max-height: 200px;
    width: 400px;
}

.button{
	text-align: center;
	margin: auto;
	justify-content: center;
	align-items: center;
	background-color: #6aa84f;
	color: white;
	padding: 13px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	border: none;
	border-radius: 12px;
}

.button:hover{
	background-color: #558a3e;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

#popupLogo{
	margin: auto;
	display: block;
	text-align: center;
	width: 100px;
}

hr.line{
	border-top: 2px solid green;
}

#line1{
	display: none;
}

#recipeTitle{
	font-size: 18px;	
	color: #558a3e;
	padding: 10px;
	display: none;
}

#priceImg{
	display: none;
	width: 30px;
	padding-left: 5px;
}

#recipePrice{
	display: none;
	font-size: 14px;
	padding-bottom: 10px;
	vertical-align: middle;
}

#recipeImg{
	display: none;
	width: 200px;
	margin-bottom: 10px;
}

#ingredientsList{
	display: none;
	font-size: 14px;
	background-color: #D9EAD3;
	padding: 15px;
	border-radius: 16px;
}

#recipeInstruc{
	display: none;
	font-size: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

ol{
	padding-left: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c7e5bd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b2cea9;
}
