body {
    border-radius: 10px;
}
.container {
    padding: 1rem 0.5rem;
    height: 400px;
    width: 400px;
}

.button{
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #6aa84f;
	color: white;
	padding: 13px;
	text-decoration: none;
	display: block;
	font-size: 14px;
	border: none;
	border-radius: 12px;
}

.button:hover{
	background-color: #558a3e;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
}

#popupLogo{
	margin: auto;
	display: block;
	text-align: center;
	width: 100px;
}
